# .NET build output
bin/
obj/
publish/

# Visual Studio / Rider / VS Code
.vscode/
.idea/
.vs/
*.user
*.suo
*.sln.docstates

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# NuGet
packages/
*.nupkg

# Rider
.idea/
